<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IzyaNabeel App</title>
</head>
<body>
    <h1>Welcome to IzyaNabeel App</h1>
    <p>This is a simple Flask application.</p>
    #Environmental Variables
    <p>Current Environment: {{ env }}</p>
</body>
<style> 
    body {
        font-family: Arial, sans-serif;
        background-color: black;
        color: yellow;
    }
    h1 {
        color: red;
    }
    p {
        font-size: 18px;
    }
</style>
</html>